/* === RESET & CONFIGURAÇÃO GLOBAL === */
:where(*, *::before, *::after) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Nunito", sans-serif;
    --font-family-secondary: "Nunito Sans", sans-serif;
    ;
    --color-primary: #005CFF;
    --color-secondary: #6220C1;
    --color-white: #ffffff;
    --color-dark: #00264E;
    --color-gray-light: #DEDEDE;
    --color-gray-medium: #C2C2C2;
    --color-gray-dark: #999999;
    --color-green: #5EC0BE;
    --font-size-base: 18px;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    background-color: var(--color-white);
    font-style: normal;
    font-optical-sizing: auto;
    padding-top: 150px;
}

/* === CORES E FUNDOS === */
.azul {
    color: var(--color-primary);
}

.backgroundMain {
    background-color: #E7E7EA;
}

.backgroundCinzaEscuro {
    background-color: var(--color-gray-medium);
    padding: 120px 64px;

    @media (max-width: 768px) {
        padding: 8px;
        width: 400px;

        img {
            width: 100%;
        }
    }
}

.backgroundCinzaClaro {
    background-color: var(--color-gray-light);
    padding: 40px;
    width: 100%;
}

.backgroundGreen,
.backgroundBlue {
    color: var(--color-white);
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
}

.backgroundGreen {
    background-color: var(--color-green);
    font-weight: lighter;
    height: 100%;
}

.backgroundBlue {
    background-color: var(--color-dark);
    font-size: 10px;
    width: 45px;
}

.backgroundAvanti {
    background: url("../assets/webp/imgavanti.webp") no-repeat center/cover;
    height: 660px;

    @media (max-width: 768px) {
        height: 500px;
    }
}

.border-radius-8 {
    border-radius: 8px;
}


.fixed {
    position: fixed;
}

/* === BANNER === */
.banner {
    background: var(--color-primary);
    height: 30px;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    @media (max-width: 768px) {
        height: 45px;
    }

}

.banner .bannerSpan {
    background-color: var(--color-secondary);
    padding: 2px 4px;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

/* === TIPOGRAFIA === */
h1 {
    font-size: 100px;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 25px;

    @media (max-width: 768px) {
        font-size: 12px;
        margin-top: 16px;
    }
}

h3,
.h3 {
    font-size: 60px;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.h33,
h5 {
    font-size: 14px;
    font-weight: lighter;
}

.h4 {
    font-size: 20px;
}

h5 {
    line-height: 28px;
    color: #303030;
}

p {
    font-size: var(--font-size-base);

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.p1 {
    font-size: 14px;
    font-weight: bold;
}

.p2 {
    font-size: 30px;
    padding: 60px;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.p3 {
    font-size: 12px;
}

.p4 {
    font-weight: bold;
    color: #000;
}

li {
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.italic {
    font-style: italic;
    font-weight: lighter;
    font-size: 14px;
}

.lighter {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.font-family-secondary {
    font-family: var(--font-family-secondary);
}

/* === LAYOUT & FLEXBOX === */
.container {
    max-width: 1440px;
    margin: 8px auto;
    padding: 96px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

    @media (max-width: 1024px) {

        padding: 64px 16px;
        gap: 24px;

    }

    @media (max-width: 768px) {

        flex-direction: column;
        align-items: center;
        padding: 48px 16px;
        gap: 32px;

    }

}

.container-header {
    padding: 0px 0px 96px 0px;
}

.container-menu {
    padding: 0px;
}

.container-fooder {
    padding: 8px 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-block-mobile {
    @media (max-width: 768px) {
        display: block;
        padding: 8px;
    }
}

.flex-row-mobile {
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.img-header {
    width: 10%;
}

.flex-column-mobile {
    @media (max-width: 768px) {
        flex-direction: row;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align-items {
    display: flex;
    align-items: center;
}

.align-items-mobile {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
    }
}

.align-items-center-justify-content-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.align-items-start {
    align-items: flex-start;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text-align {
    text-align: center;
}

.item1 {
    order: 1;
    @media (max-width: 768px) {
        order: 2;
    }
}

.item2 {
    order: 2;

    @media (max-width: 768px) {
        order: 1;
    }
}

.imgCaneca2 {
    @media (max-width: 768px) {
        width: 400px;
        height: 400px;

        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
        }
    }
}

/* === BARRA DE PESQUISA === */
.search {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    width: 50%;
    margin-right: 200px;

    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0px;
        padding: 8px;

    }
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-dark);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;

    input {
        border: none;
        padding: 8px 15px;
        outline: none;
        flex: 1;
    }

    img {
        border: none;
        background: none;
        cursor: pointer;
        padding: 8px;
    }
}

.resultado {
    position: absolute;
    z-index: 1000;
    top: 90px;

    @media (max-width: 768px) {
        top: 5px;
    }
}

/* === MENU === */
.menu-bar {
    display: flex;
    padding: 10px;

    a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }
}

.dropdown {
    &:hover>a {
        color: blue;
        font-weight: bold;
    }

    &:hover .dropdown-departamento,
    &:hover .dropdown-content {
        display: flex;
        position: absolute;
        max-width: 1440px;
        margin: 8px auto;
        left: 0;
        right: 0;
        background: #ffffff;
        padding: 20px;
        gap: 24px;
        align-items: flex-start;
    }
}

.dropdown-departamento,
.dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 20px;
    gap: 24px;
    align-items: flex-start;
}

.dropdown-content2 {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    padding: 16px;
    min-width: 200px;
}

.departamento-wrapper {
    &:hover .dropdown-content2 {
        display: flex;
        position: absolute;
        max-width: 800px;
        margin: 8px auto;
        left: 0;
        right: 0;
    }

    &:hover .departamento-link {
        color: blue;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        display: flex;
        max-width: 400px;
        margin: 8px auto;
    }
}

.column {
    flex: 1;
    padding: 0;
    gap: 0;

    a:hover {
        color: blue;
    }

}

.departamento-link {
    display: flex;
    width: 20%;
    position: relative;
}

.seta {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        left: 140px;
        top: 45%;
    }
}

.departamento-link:hover .seta {
    transform: translate(10px, -50%);
}

.promo {
    height: 360px;
    width: 300px;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/webp/imgcaneca2.webp") no-repeat center / cover;
    background-blend-mode: multiply;

    @media (max-width: 768px) {
        height: 160px;
        width: 130px;
    }
}

.promo-text {
    color: white;
    font-size: 24px;
    width: 170px;
    height: 200px;
    padding: 50px 24px;

    &:hover {
        color: white;

        .text {
            color: white;
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;
        width: 100px;
        height: 70px;
        padding: 8px;
    }
}

.button-promo {
    width: 50%;
    margin: 24px;
    background-color: transparent;
    border: 2px solid #ffffff;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 90%;
        height: 45px;
        margin: 0;
        background-color: transparent;
        border: 2px solid #ffffff;
        cursor: pointer;
        font-size: 10px;
    }
}


/* === FORMULÁRIO / INPUT === */
.inputIewsletter {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
}

/* === BOTÕES === */
button {
    font-size: 16px;
    background-color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: bolder;
    padding: 14px;
    width: 120px;
    height: 48px;
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.buttonCarrossel {
    width: 100%;
    font-size: 14px;
}

/* === CARRINHO === */
.cart-container {
    position: relative;
}

.cart-icon {
    width: 35px;
}

.cart-container .badge {
    position: absolute;
    top: 1px;
    right: 2px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: bold;
}

/* === UTILITÁRIOS === */
.cursor-pointer,
.mouse {
    cursor: pointer;
}

.p-1 {
    padding-right: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-56 {
    margin-top: 56px;

    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.mtm-16 {
    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.ml-16 {
    margin-left: 16px;
}

.ml-24 {
    margin-left: 24px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.ml-48 {
    margin-left: 48px;
    @media (max-width: 768px) {
        margin-left: 8px;
    }
}

.ml-56 {
    margin-left: 56px;
    
    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.w35 {
    width: 35%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.w28 {
    width: 28%;
}

.w100 {
    width: 100%;
}

.span {
    @media (max-width: 768px) {
        display: block;
    }

}


li {
    list-style: none;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

/* === SWIPER / CARROSSEL === */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    border: 2px solid #DDDDDD;
    padding: 8px;
    border-radius: 8px;

    img {
        width: 100%;
    }
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;

    @media (max-width: 768px) {
        display: none;
    }
}

.arrow-left {
    transform: scaleX(-1);
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.position-swiper-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    margin-top: 40px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0 2px 4px #0000001a;
}

.imgMaps {
    @media (max-width: 768px) {
        width: 50px;
    }
}


.display-none-web {
    display: none;

    @media (max-width: 768px) {
        display: flex;
    }
}

.display-none-mobile {
    display: flex;

    @media (max-width: 768px) {
        display: none;
    }
}

.display-none-mobile-block {
    display: block;

    @media (max-width: 768px) {
        display: none;
    }
}

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .mobile-only {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;
    }

    .mobile-only details {
        border-bottom: 1px solid #DDDDDD;
        padding: 12px 0;
    }

    .mobile-only summary {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        cursor: pointer;
        list-style: none;
        position: relative;
        padding-right: 28px;
    }

    .mobile-only summary {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .mobile-only h5 {
        margin-top: 8px;
        font-size: 12px;

    }

    .mobile-only summary::marker {
        display: none;
    }

    .mobile-only summary::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url('../assets/svg/details.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
    }

    .mobile-only details[open] summary::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .mobile-only ul {
        margin: 10px 0 0 16px;
        padding: 0;
        list-style: none;
    }

    .mobile-only li {
        padding: 4px 0;
        font-size: 14px;
        color: #333;
    }
}

.position-absolute {

    @media (max-width: 768px) {
        position: absolute;
        left: 180px;
        text-align: center;
    }
}